{% extends "base.html" %}

{% block title %}Lights{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="/static/lights/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
  <div id="app">
    <app-body></app-body>
  </div>
  <script src="/static/lights/js/app.js"></script>
{% endblock %}
