.election_page{
  .elections-grid{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;
  }

  .card{
      background-color: $off-white;
      border-radius: 0px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      min-width: 200px;
      margin: 20px;

      .card-image{
          display: block;
          width: 100%;

          img {
              width: 100%;
          }
      }
      .office{
          margin-bottom: 0px;
          margin-top: 5px;
      }
      .card-progress {
          border: 1px solid #22222222;
          border-radius: 1px;
          width: 100%;
          height: 30px;
          display: flex;
          flex-flow: row;
          position: relative;
          justify-content: center;
          align-items: center;
          p {
              margin-bottom: 0px;
              margin-top: 5px;
              z-index: 2;
          }

          .inner-progress {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            background-color: theme-color-level("primary", 1);
            width: 30%;

            &.green {
                background-color: green;
            }
          }
      }

      .card-content{
          margin: 10px;
      }

      .card-title{
          font-size: 20px;
          font-weight: 800;
          margin-bottom: 5px;
      }
  }
}