@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Raleway:500,500i,600,600i,700,700i');

$theme-colors: (
  "primary": #DA1E05,
  "primaryDark": #C9311D,
);

// .bg-light .dark-theme {
//   background-color: #403c3b;
// }

// .bg-white .dark-theme {
//   background-color: #383534;
// }

// .bg-dark .dark-theme {
//   background-color: #c9c3c2;
// }



[data-theme="dark"] .bg-white {
  background-color: #383534 !important;
}

// [data-theme="dark"] .bg-dark {
//   background-color: #c9c3c2 !important;
// }

// :root.dark-theme {
//   .bg-light {
//     background-color: #403c3b;
//   }
// }

// $light: #403c3b;
// $border-color: #383534;
// $white: #383534;
// $dark: #c9c3c2;

$off-white: #fefefe;

$enable-gradients: true;

$font-family-base: 'Lora', serif;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";

@import "./elections.scss";

// .bg-light {
//     background-color: #333 !important;
// }

// .btn-outline-light {
//   background-color: #333 !important;
// }




@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color ; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color ; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color ; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color ; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color ;
      border-right: $border-width solid $border-color ;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color ;
      border-bottom: $border-width solid $border-color ;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

header {
  font-family: var(--font-family-sans-serif);
}

header a.search {
  text-decoration: none;
}

.header-logo img {
  height: 35px;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  z-index: 2;
  height: 2.35rem;
  overflow-y: hidden;
  font-family: var(--font-family-sans-serif);
  @include media-breakpoint-down(xs) {
    .container {
      padding: 0;
    }
  }
}

.nav-scroller .nav {
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .35rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  flex-grow: 1;
  flex-basis: auto;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: color 0.1s ease-in-out;
  &:hover {
    @extend .text-dark;
  }
}

.nav-scroller .nav-link.active {
  font-weight: bold;
  @extend .text-dark;
}

.nav-scroller .nav-link.home-link {
  padding: 0;
  position: relative;
  top: 3px;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  width: 0;

  img {
    height: 25px;
    width: 0;
    border-radius: 4px;
    transition: width 0.1s ease-in-out;
  }
}

.nav-scroller.home-link--show .home-link {
  opacity: 1;
  width: auto;
  transition: opacity, padding-right 0.1s ease-in-out;
  padding-right: 0.6rem;
  img {
    width: 25px;
    transition: width 0.1s ease-in-out;
  }
  @include media-breakpoint-down(xs) {
    padding-left: 0.6rem;
  }
}

.nav-scroller .nav-link-0 {
  padding-left: 0;
  @include media-breakpoint-down(xs) {
    padding-left: 0.6rem;
  }
}

.nav-scroller .nav-link:last-child {
  padding-right: 0;
  @include media-breakpoint-down(xs) {
    padding-right: 0.6rem;
  }
}

.nav-scroller .divider {
  margin-top: 0.25rem;
  height: 1.5rem;
  flex-grow: 2;
  padding: 0.5px;
  background-color: $border-color;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.footer {
  padding: 2.5rem 0;
  color: #666;
  text-align: center;
  background-color: #f6f6f6;
  border-top: .05rem solid #e5e5e5;
  font-size: 0.9rem;
}

.footer p:last-child {
  margin-bottom: 0;
}

.footer .logo {
  width: 160px;
}

.footer .bottom-menu {
  @include media-breakpoint-up(md) {
    max-width: var(--breakpoint-sm);
  }
}

.text-kicker {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

ul.pagination {
  font-family: var(--font-family-sans-serif);
}

// CUSTOM

.template-articlepage article {
  margin-bottom: 80px;
}

@include media-breakpoint-up(md) {
  .template-articlepage .narrow {
    max-width: var(--breakpoint-sm);
  }
}

@include media-breakpoint-up(sm) {
  .template-articlepage .featured-photo img {
    height: auto;
    width: 768px;
  }
}
@include media-breakpoint-down(sm) {
  .template-articlepage .featured-photo img {
    height: auto;
    width: 100%;
  }
}

.img-container{
  text-align: center;
  width: 100%;
}

.template-articlepage .featured-photo .meta {
  font-size: 0.9rem;
}
@include media-breakpoint-up(md) {
  .template-articlepage .featured-photo .meta {
    max-width: var(--breakpoint-sm);
  }
}

.template-articlepage .body {
  font-size: 1.1rem;
}

.template-articlepage .body > div:not(:last-child) {
  margin-bottom: 1.5rem;
}

.template-articlepage .photo-block img {
  width: 100%;
}

.template-articlepage .photo-blockzz.small img {
  max-width: var(--breakpoint-sm);
}
.template-articlepage .photo-block.medium img {
  max-width: var(--breakpoint-md);
}
.template-articlepage .photo-block.large img {
  max-width: var(--breakpoint-xl);
}

.template-articlepage .photo-block .meta {
  font-size: 0.9rem;
}
@include media-breakpoint-up(md) {
  .template-articlepage .photo-block .meta {
    max-width: var(--breakpoint-sm);
  }
}

.template-articlepage .photo-gallery {
  padding: 0;
}

.template-articlepage .photo-gallery .photo img {
  width: 100%;
  position: relative;
  bottom: 0;
}

.template-articlepage .photo-gallery .photo a:hover {
  cursor: pointer;
}

.template-articlepage .photo-gallery .photo:hover img {
  box-shadow: 0 .2rem 2rem -0.5rem rgba(0, 0, 0, .2);
  bottom: 2px;
  transition: all 0.1s ease-out;
}

.template-articlepage .photo-gallery .large-photo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $body-bg;
  z-index: $zindex-modal;
}

.template-articlepage .photo-gallery .large-photo.large-photo--show {
  display: block;
}

.template-articlepage .photo-gallery .large-photo .wrapper {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.template-articlepage .photo-gallery .large-photo .img-container {
  min-height: 100px;
  height: 100%;
}

.template-articlepage .photo-gallery .large-photo img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.template-articlepage .photo-gallery .large-photo p {
  font-size: 15px;
  margin: 4px 10px;
  flex: 0;
}

.template-articlepage .embed {
  iframe, object, embed {
    @extend .embed-responsive-item;
  }
}

.template-articlepage .embed.small .embed.video {
  max-width: var(--breakpoint-sm);
}
.template-articlepage .embed.medium .embed.video {
  max-width: var(--breakpoint-md);
}
.template-articlepage .embed.large .embed.video {
  max-width: var(--breakpoint-xl);
}

.template-homepage .header-logo img {
  height: 80px;
}

@include media-breakpoint-down(sm) {
  .template-homepage .header-logo img {
    max-height: 70px;
    width: auto;
    height: auto;
  }
}

.template-homepage .nav-scroller {
  @extend .sticky-top;
}

.template-homepage .bg-featured-gradient {
  background-image: linear-gradient(141deg, theme-color-level("primary", 1) 0, theme-color-level("primary", -4) 71%, theme-color-level("primary", -5) 100%);
}

.template-homepage .featured .summary p {
  margin-bottom: 0;
}

.template-homepage .see-more {
  margin-top: 80px;
}

.template-homepage .see-more .logo {
  width: 140px;
}

.template-articlesindexpage .article p {
  margin-bottom: 0;
}

.template-staffindexpage .person img {
  width: 150px;
}

.template-staffpage .photo img {
  width: 100px;
}

div .btn-outline-light {
  color: #ffffff;
}

[data-theme="dark"] {
  // $light: #403c3b;
  // $border-color: #383534;
  // $white: #383534;
  // $dark: #c9c3c2;
  // $light: #403c3b;
  // $border-color: #383534;
  // $white: #383534;
  // $dark: #c9c3c2;
  background-color: #403c3b !important;
  color: #c9c3c2;
}

[data-theme="dark"] .btn-outline-light {
  color: #e5e5e5;
}

[data-theme="dark"] .footer {
  color: #c9c3c2; //#666
  background-color: #383534;
  border-top: .05rem solid #383534; //e5e5e5
}

// [data-theme="dark"] .template-homepage .bg-featured-gradient {
//   background-image: linear-gradient(141deg, theme-color-level("primaryDark", 1) 0, theme-color-level("primaryDark", -4) 71%, theme-color-level("primaryDark", -5) 100%);
// }

// [data-theme="dark"] $theme-colors: (
//   "primary": #C9311D //#DA1E05,
// );

// [data-theme="dark"] .bg-light {
//   background-color: #403c3b !important;
// }

// [data-theme="dark"] .text-light {
//   color: #c9c3c2 !important;
// }

// [data-theme="dark"] .btn-outline-light {
//   background-color: #403c3b !important;
// }
