@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Raleway:500,500i,600,600i,700,700i');

$theme-colors: (
  "primary": #DA1E05,
);

$enable-gradients: true;

$font-family-base: 'Lora', serif;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color ; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color ; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color ; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color ; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color ;
      border-right: $border-width solid $border-color ;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color ;
      border-bottom: $border-width solid $border-color ;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

header {
  font-family: var(--font-family-sans-serif);
}

header a.search {
  text-decoration: none;
}

.header-logo img {
  height: 35px;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  z-index: 2;
  height: 2.35rem;
  overflow-y: hidden;
  font-family: var(--font-family-sans-serif);
  @include media-breakpoint-down(xs) {
    .container {
      padding: 0;
    }
  }
}

.nav-scroller .nav {
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .35rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  flex-grow: 1;
  flex-basis: auto;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: color 0.1s ease-in-out;
  &:hover {
    @extend .text-dark;
  }
}

.nav-scroller .nav-link.active {
  font-weight: bold;
  @extend .text-dark;
}

.nav-scroller .nav-link.home-link {
  padding: 0;
  position: relative;
  top: 3px;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  width: 0;

  img {
    height: 25px;
    width: 0;
    border-radius: 4px;
    transition: width 0.1s ease-in-out;
  }
}

.nav-scroller.home-link--show .home-link {
  opacity: 1;
  width: auto;
  transition: opacity, padding-right 0.1s ease-in-out;
  padding-right: 0.6rem;
  img {
    width: 25px;
    transition: width 0.1s ease-in-out;
  }
  @include media-breakpoint-down(xs) {
    padding-left: 0.6rem;
  }
}

.nav-scroller .nav-link-0 {
  padding-left: 0;
  @include media-breakpoint-down(xs) {
    padding-left: 0.6rem;
  }
}

.nav-scroller .nav-link:last-child {
  padding-right: 0;
  @include media-breakpoint-down(xs) {
    padding-right: 0.6rem;
  }
}

.nav-scroller .divider {
  margin-top: 0.25rem;
  height: 1.5rem;
  flex-grow: 2;
  padding: 0.5px;
  background-color: $border-color;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.footer {
  padding: 2.5rem 0;
  color: #666;
  text-align: center;
  background-color: #f6f6f6;
  border-top: .05rem solid #e5e5e5;
  font-size: 0.9rem;
}

.footer p:last-child {
  margin-bottom: 0;
}

.footer .logo {
  width: 160px;
}

.footer .bottom-menu {
  @include media-breakpoint-up(md) {
    max-width: var(--breakpoint-sm);
  }
}

.text-kicker {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

ul.pagination {
  font-family: var(--font-family-sans-serif);
}

// CUSTOM

.template-articlepage {
  article {
    margin-bottom: 80px;
  }
  .featured-photo{
    img {
      height: auto;
      width: 768px;
    }
    .meta {
      font-size: 0.9rem;
    }
  }
  .body {
    font-size: 1.1rem;
  }
  .body > div:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .photo-block {
    img {
      width: 100%;
    }
    .small img {
      max-width: var(--breakpoint-sm);
    }
    .medium img {
      max-width: var(--breakpoint-md);
    }
    .large img {
      max-width: var(--breakpoint-xl);
    }
    .meta {
      font-size: 0.9rem;
    }
  }
  .photo-gallery {
    padding: 0;
    .photo img {
      width: 100%;
      position: relative;
      bottom: 0;
    }
    .photo a:hover {
      cursor: pointer;
    }
    .photo:hover img {
      box-shadow: 0 .2rem 2rem -0.5rem rgba(0, 0, 0, .2);
      bottom: 2px;
      transition: all 0.1s ease-out;
    }
    .large-photo {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $body-bg;
      z-index: $zindex-modal;
      .wrapper {
        height: 100%;
        justify-content: center;
        flex-direction: column;
        display: flex;
      }
      .img-container {
        min-height: 100px;
        height: 100%;
      }
      img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
      }
      p {
        font-size: 15px;
        margin: 4px 10px;
        flex: 0;
      }
    }
    .large-photo.large-photo--show {
      display: block;
    }
  }
  .embed {
    iframe, object, embed {
      @extend .embed-responsive-item;
    }
  }
  .embed.video {
    max-width: var(--breakpoint-lg);
  }
}

@include media-breakpoint-up(md) {
  .template-articlepage .narrow {
    max-width: var(--breakpoint-sm);
  }
}


@include media-breakpoint-up(sm) {
  .template-articlepage .featured-photo img {
    height: auto;
    width: 768px;
  }
}
@include media-breakpoint-down(sm) {
  .template-articlepage .featured-photo img {
    height: auto;
    width: 100%;
  }
}
.img-container{
  text-align: center;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .template-articlepage .featured-photo .meta {
    max-width: var(--breakpoint-sm);
  }
}
 
@include media-breakpoint-up(md) {
  .template-articlepage .photo-block .meta {
    max-width: var(--breakpoint-sm);
  }
}

.template-articlepage .photo-gallery {
  padding-bottom: 1000;
}

.template-articlepage .photo-gallery .photo img {
  width: 100%;
  position: relative;
  bottom: 0;
}

.template-articlepage .photo-gallery .photo a:hover {
  cursor: pointer;
}

.template-articlepage .photo-gallery .photo:hover img {
  box-shadow: 0 .2rem 2rem -0.5rem rgba(0, 0, 0, .2);
  bottom: 2px;
  transition: all 0.1s ease-out;
}

.template-articlepage .photo-gallery .large-photo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $body-bg;
  z-index: $zindex-modal;
}

.template-articlepage .photo-gallery .large-photo.large-photo--show {
  display: block;
}

.template-articlepage .photo-gallery .large-photo .wrapper {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.template-articlepage .photo-gallery .large-photo .img-container {
  min-height: 100px;
  height: 100%;
}

.template-articlepage .photo-gallery .large-photo img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.template-articlepage .photo-gallery .large-photo p {
  font-size: 15px;
  margin: 4px 10px;
  flex: 0;
}

.template-articlepage .embed {
  iframe, object, embed {
    @extend .embed-responsive-item;
  }
}

.template-articlepage .embed.video {
  max-width: var(--breakpoint-lg);
}

.template-homepage .header-logo img {
  height: 80px;
}

@include media-breakpoint-down(sm) {
  .template-homepage .header-logo img {
    max-height: 70px;
    width: auto;
    height: auto;
  }
}

.template-homepage {
  .nav-scroller {
    @extend .sticky-top;
  }
  .header-logo img {
    height: 80px;
  }
  .bg-featured-gradient {
    background-image: linear-gradient(141deg, theme-color-level("primary", 1) 0, theme-color-level("primary", -4) 71%, theme-color-level("primary", -5) 100%);
  }
  .featured .summary p {
    margin-bottom: 0;
  }
  .see-more {
    margin-top: 80px;
  }
  .see-more .logo {
    width: 140px;
  }
}

.template-articlesindexpage .article p {
  margin-bottom: 0;
}

.template-staffindexpage .person img {
  width: 150px;
}

.template-staffpage .photo img {
  width: 100px;
}

.lb-loader,
.lightbox {
    text-align: center;
    line-height: 0;
    position: absolute;
    left: 0
}

body.lb-disable-scrolling {
    overflow: hidden
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    filter: alpha(Opacity=90);
    opacity: .9;
    display: none
}

.lightbox {
    width: 100%;
    z-index: 10000;
    font-weight: 400;
    outline: 0
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 0px solid #da1e05
}

.lightbox a img {
    border: none
}

.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 0px;
    background-color: #fff
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both
}

.lb-loader {
    top: 43%;
    height: 25%;
    width: 100%
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/lightbox/loading.gif) no-repeat
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.lb-container>.nav {
    left: 0
}

.lb-nav a {
    outline: 0;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}

.lb-next,
.lb-prev {
    height: 100%;
    cursor: pointer;
    display: block
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/lightbox/prev.png) left 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}

.lb-nav a.lb-prev:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/lightbox/next.png) right 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}

.lb-nav a.lb-next:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both
}

.lb-data {
    padding: 0 4px;
    color: #ccc
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em
}

.lb-data .lb-caption {
  @extend .text-dark;
  @extend .body;
  font-size: 0.9rem;
}

.lb-data .lb-caption a {
    @extend .small;
    @extend .text-nowrap;
    color: #da1e05
}

.lb-data .lb-caption i {
  @extend .small;
  @extend .text-muted;
  @extend .text-nowrap;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/lightbox/close.png) top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: alpha(Opacity=100);
    opacity: 1
}