@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Raleway:500,500i,600,600i,700,700i');

$theme-colors: (
  "primary": #DA1E05,
);

$enable-gradients: true;

$font-family-base: 'Lora', serif;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color ; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color ; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color ; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color ; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color ;
      border-right: $border-width solid $border-color ;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color ;
      border-bottom: $border-width solid $border-color ;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

header {
  font-family: var(--font-family-sans-serif);
}

header a.search {
  text-decoration: none;
}

.header-logo img {
  height: 35px;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  z-index: 2;
  height: 2.35rem;
  overflow-y: hidden;
  font-family: var(--font-family-sans-serif);
}

.nav-scroller .nav {
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .35rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  flex-grow: 1;
  flex-basis: auto;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.nav-scroller .nav-link:first-child {
  padding-left: 0;
}

.nav-scroller .nav-link:last-child {
  padding-right: 0;
}

.nav-scroller .nav-link.active {
  font-weight: bold;
}

.nav-scroller .divider {
  margin-top: 0.25rem;
  height: 1.5rem;
  flex-grow: 2;
  padding: 0.5px;
  background-color: $border-color;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.footer {
  padding: 2.5rem 0;
  color: #666;
  text-align: center;
  background-color: #f6f6f6;
  border-top: .05rem solid #e5e5e5;
  font-size: 0.9rem;
}
.footer p:last-child {
  margin-bottom: 0;
}

.text-kicker {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

ul.pagination {
  font-family: var(--font-family-sans-serif);
}

// CUSTOM

@include media-breakpoint-up(md) {
  .template-articlepage .narrow .container {
    max-width: var(--breakpoint-sm);
  }
}

.template-articlepage .featured-photo img {
  width: 100%;
  max-width: var(--breakpoint-md);
}

.template-articlepage .featured-photo .meta {
  font-size: 0.9rem;
}
@include media-breakpoint-up(md) {
  .template-articlepage .featured-photo .meta {
    max-width: var(--breakpoint-sm);
  }
}

.template-articlepage .body img {
  width: 100%;
}

.template-articlepage .body {
  font-size: 1.1rem;
}

.template-articlepage .photo-gallery .large-photo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $body-bg;
  z-index: $zindex-modal;
}

.template-articlepage .photo-gallery .large-photo.large-photo--show {
  display: flex;
}

.template-articlepage .photo-gallery .large-photo .wrapper {
  max-height: 90%;
  max-width: 100%;
  vertical-align: middle;
}

.template-articlepage .photo-gallery .large-photo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.template-homepage .header-logo img {
  height: 70px;
}

@include media-breakpoint-down(sm) {
  .template-homepage .header-logo img {
    height: 50px;
  }
}

.template-homepage .nav-scroller {
  @extend .sticky-top;
}

.template-homepage .bg-featured-gradient {
  background-image: linear-gradient(141deg, theme-color-level("primary", 1) 0, theme-color-level("primary", -4) 71%, theme-color-level("primary", -5) 100%);
}

.template-homepage .featured .summary p, .template-homepage .featured .headline p {
  margin-bottom: 0;
}

.template-articlesindexpage .article p {
  margin-bottom: 0;
}

.template-staffindexpage .person img {
  width: 150px;
}
