{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<div class="container">
    <h1>Page not found</h1>
    <p>Maybe searching would help?</p>

    <form class="my-5" action="{% url 'search' %}" method="get">
        <div class="input-group input-group-lg">
            <input type="text" placeholder="Search..." class="form-control" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <div class="input-group-append">
                <input type="submit" value="Search" class="input-group-btn form-control form-control-lg btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}
