{% load core_menu static wagtailuserbar wagtailcore_tags %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title_block %}
                {% block title %}
                    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
                {% endblock %}
                {% block title_suffix %}
                    {% with request.site.site_name as site_name %}
                        {% if site_name %}- {{ site_name }}{% endif %}
                    {% endwith %}
                {% endblock %}
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="alternate" type="application/rss+xml" title="The Polytechnic" href="/feed/">
        <link rel="icon" href="{% static 'images/lettermark.png' %}">
        <link rel="apple-touch-icon" href="{% static 'images/lettermark.png' %}">
        <link rel="mask-icon" href="{% static 'images/lettermark_nobg.svg' %}" color="#DA1E05">
        <meta name="apple-mobile-web-app-title" content="The Poly">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76250947-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-76250947-1');
        </script>

        {# Global stylesheet #}
        {% render_bundle 'main' 'css' attrs='data-turbolinks-track="reload"' %}

        {# Global JavaScript #}
        {% render_bundle 'main' 'js' attrs='defer data-turbolinks-track="reload"' %}

        {% block extra_head %}
            {# Override this in templates to add elements to head #}
        {% endblock %}
    </head>

    <body class="bg-light {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block header_block %}
            <header class="py-2 bg-gradient-primary">
                <div class="container">
                    <div class="row no-gutters flex-nowrap justify-content-between align-items-center">
                        <div class="col">
                            <a class="header-logo" href="{% pageurl request.site.root_page %}">
                                <img src="{% static 'images/logo_minimal.png' %}" alt="The Polytechnic">
                            </a>
                        </div>
                        <div class="col text-right">
                            <a class="text-light search" href="{% url 'search' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                            </a>     
                            <a class="btn btn-sm btn-outline-light" onclick="toggle()">Toggle</a>

                            <script>
        
                                const currentTheme = localStorage.getItem("theme");
                                if (currentTheme == null) { // On first load
                                    lightMode();
                                }
                                else if (currentTheme == "light") {
                                    lightMode();
                                }
                                else {
                                    darkMode();
                                }
        
                                function darkMode() {
                                    localStorage.setItem("theme","dark");
                                    document.body.setAttribute('data-theme', 'dark');
                                }
        
                                function lightMode() {
                                    localStorage.setItem("theme","light");
                                    document.body.removeAttribute('data-theme');
                                }
        
                                function toggle() { // Won't be null by now
                                    const theme = localStorage.getItem("theme");
                                    if (theme == "dark") {
                                        lightMode();
                                    }
                                    else {
                                        darkMode();
                                    }
                                }
                            </script>
                                
                            <a class="btn btn-sm btn-outline-light" href="{% pageurl request.site.root_page %}subscribe/">Subscribe</a>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}

        <section class="content">
            {% block content %}{% endblock %}
        </section>

        <footer class="footer px-2 mt-4">
            {% block footer_logo_block %}
                <img src="{% static 'images/logo_inverted.png' %}" class="logo mb-3">
            {% endblock %}
            <p>
                <span class="text-nowrap">Serving the Rensselaer community since 1885.</span>
            </p>

            {% bottom_menu %}

            <p>
                <span class="text-nowrap">&copy; {% now "Y" %} <i>The Rensselaer Polytechnic</i>.</span>
                <span class="text-nowrap">Powered by <a href="https://github.com/thepoly/pipeline">Pipeline</a>.</span>
            </p>
        </footer>

        {% block extra_js %}
            {# Override this in templates to add extra JavaScript #}
        {% endblock %}
    </body>
</html>
