{% load static core_menu wagtailcore_tags wagtailuserbar %}
{% wagtail_site as current_site %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pipeline.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
    </head>

    {% comment %} <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/pipeline.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body> {% endcomment %}
    <body class="bg-light {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block header_block %}

            <header class="py-2 bg-gradient-primary" style="background: #da1e05;">
                <div class="container">
                    <div class="row no-gutters flex-nowrap justify-content-between align-items-center">
                        <div class="col">
                            <a class="header-logo" href="{% pageurl current_site.root_page %}">
                                <img src="{% static 'images/logo_minimal.png' %}" alt="The Polytechnic" width="auto" height="80">
                            </a>
                        </div>

                        <div class="ui-widget hide-mobile col text-right" id="largeDisplay">
                            <form action="{% url 'search' %}">
                                <input type="text" name="query" id="tags"  placeholder="Search..." style="border-radius: 5px; size: 10; position: relative; top:1px; resize: none;" multiple>
                                <a class="btn btn-sm btn-outline-light" href="{% pageurl current_site.root_page %}subscribe/" style="resize: none; top: 5px">Subscribe</a>
                            </form>
                        </div>
                        {% comment %} <div class="hide-desktop col text-right" id="smallDisplay">
                            <div class="col text-right mb-3 mb-md-0">
                                <a class="text-light search" href="{% url 'search' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                                </a>
                                <a class="btn btn-sm btn-outline-light" href="{% pageurl current_site.root_page %}subscribe/">Subscribe</a>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block menu %}
            {# site_root causes an error, no idea why. Need to investigate, granted it doesn't seem to cause any issues #}
            {% comment %} {% get_site_root as site_root %} {% endcomment %}
            {% top_menu parent=current_site.root_page calling_page=self %}
        {% endblock %}

        <section class="content">
            {% block content %}{% endblock %}
        </section>

        <footer class="footer px-2 mt-4">
            {% block footer_logo_block %}
                <img src="{% static 'images/logo_inverted.png' %}" class="logo mb-3" alt="The Polytechnic wordmark" width="160">
            {% endblock %}
            <p>
                <span class="text-nowrap">Serving the Rensselaer community since 1885.</span>
            </p>

            {% bottom_menu %}

            <p>
                <span class="text-nowrap">&copy; {% now "Y" %} <i>The Rensselaer Polytechnic</i>.</span>
                <span class="text-nowrap">Powered by <a href="https://github.com/thepoly/pipeline">Pipeline</a>.</span>
            </p>
        </footer>

        {% block extra_js %}
            {# Override this in templates to add extra JavaScript #}
        {% endblock %}
    </body>
</html>
