{% extends "base.html" %}
{% load static wagtailcore_tags widget_tweaks %}

{% block body_class %}template-newsletter{% endblock %}

{% block title %}Newsletter{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1><i>Poly</i> newsletter</h1>
            <p>Subscribe to the <i>Poly</i> newsletter below.</p>
        </div>
    </div>
    {% if form %}
    <div class="row justify-content-center">
        {{ form.non_field_errors }}
        <form class="col-md-8 col-lg-6" action="{% url 'newsletter' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                {% render_field form.email|add_error_class:"is-invalid" class="form-control form-control-lg" placeholder=form.email.label %}
                <div class="input-group-append">
                    <input type="submit" value="Subscribe" class="form-control form-control-lg btn btn-primary">
                </div>
                {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
    {% endif %}
    {% if message %}
    <div class="row">
        <div class="col">
            <p>{{ message }}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
