{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags rich_text %}
{% wagtail_site as current_site %}

{% block title_block %}{{ current_site.site_name }}{% endblock %}

{% block extra_head %}
    <meta name="description" content="News, features, opinion, and more from Rensselaer Polytechnic Institute's student news organization.">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

    <style>
        @media only screen and (max-width: 750px) {
            #largeDisplay {
                display: none;
            }
            #smallDisplay {
                display: block;
            }
        }
        @media only screen and (min-width: 750px) {
            #largeDisplay {
                border-color: transparent;
                display: block;
            }
            #smallDisplay {
                display: none;
            }
        }
    </style>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = [
        "Polytechnic",
        "Student Activity Board",
        "Student Union",
        "Commons",
        "Polytechnic",
        "Rennslaer",
        "Arch",
        "COVID",
        "GM Week",
        "Student Senate",
        "Top Hat",
        "Rensselaer Union",
        "Joint Top Hat",
        "Derby",
        "Editorial",
        "Notebook",
        "Executive",
        "Board",
        "Town Hall",
        "EBoard",
        "Recommendations",
        "Academics",
        "On-Campus Event",
        "EMPAC",
        "Interview",
        "Clubs",
        "Sports",
        "Basketball",
        "Engineers",
        "Hockey",
        "Football",
        "E-Sports",
        "Racquetball",
        "Lacrosse",
        "Swimming",
        "Student Rights",
        "Student Handbook",
        "Job"
    ];

    $( "#tags" )
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          response( $.ui.autocomplete.filter(
            availableTags, (request.term.split(" ")).pop() ) );
        },
        focus: function() {
          return false;
        },
        select: function( event, ui ) {
          var terms = this.value.split(" ");
          terms.pop();
          terms.push( ui.item.value );
          terms.push( "" );
          this.value = terms.join( " " );
          return false;
        }
      });
  } );
  </script>

{% block header_block %}
    <header class="pb-4 pb-md-5 pt-2 pt-md-3 bg-gradient-primary">
        <div class="container">
            <div class="flex-row no-gutters align-items-center">
                <div class="col text-right mb-3 mb-md-0">
                    <div class="ui-widget hide-mobile col text-right" id="largeDisplay">
                        <form action="{% url 'search' %}">
                            <input type="text" name="query" id="tags" placeholder="Search..." style="border-radius: 5px; size: 10; position: relative; top:1px; resize: none;">
                            <a class="btn btn-sm btn-outline-light" href="{% pageurl current_site.root_page %}subscribe/" style="resize: none; top: 5px">Subscribe</a>
                        </form>
                    </div>
                    <div class="hide-desktop col text-right" id="smallDisplay">
                        <div class="ui-widget hide-mobile col text-right" id="largeDisplay">
                            <form action="{% url 'search' %}">
                                <input type="text" name="query" id="tags" placeholder="Search..." style="border-radius: 5px; size: 10; position: relative; top:10px; resize: none;">
                                <a class="btn btn-sm btn-outline-light" href="{% pageurl current_site.root_page %}subscribe/" style="resize: none; top: 5px">Subscribe</a>
                            </form>
                        </div>
                        <div class="hide-desktop col text-right" id="smallDisplay">
                            <div class="col text-right mb-3 mb-md-0">
                                <a class="text-light search" href="{% url 'search' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                                </a>
                                <a class="btn btn-sm btn-outline-light" href="{% pageurl current_site.root_page %}subscribe/">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a class="header-logo" href="{% pageurl current_site.root_page %}">
                        <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="The Polytechnic">
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="container">
    {% for block in page.featured_articles %}
        <div class="row mb-md-4">
            {% if block.block_type == "marquee_banner" %}
                {% if block.value.banner_type == "moves" %}
                    <div class="w-100">
                        <marquee onmouseover="this.stop();" onmouseout="this.start();">
                            <strong>{{block.value.body}}</strong>
                        </marquee>
                    </div>
                {% endif %}
            {% elif block.block_type == "one_column" %}
                <div class="featured border-md-bottom pb-1 mb-5 mb-md-0 d-lg-flex">
                    {% if block.value.column.image or block.value.column.article.featured_image %}
                    	<div class="col-lg-7">
                    {% else %}
			<div class="col-lg-12">
                    {% endif %}
                        {% if block.value.column.article.specific.kicker %}
                            <strong class="text-primary text-uppercase text-kicker">{{ block.value.column.article.specific.kicker }}</strong>
                        {% endif %}
                        <h1 class="display-4 mb-3">
                            <a class="text-dark" href="{% pageurl block.value.column.article %}">
                                {% if block.value.column.headline %}
                                	{{ block.value.column.headline }}
                                {% else %}
                                	{{ block.value.column.article.specific.headline|richtext_unwrapped }}
                                {% endif %}
                            </a>
                        </h1>
                        <div class="lead d-none d-lg-block">{{ block.value.column.article.specific.summary|richtext }}</div>
                    </div>
                    {% if block.value.column.image or block.value.column.article.featured_image %}
                    <div class="col-lg-5">
                    	{% if block.value.column.image %}
                    	    {% image block.value.column.image width-1200 as photo %}
                    	{% else %}
                           {% image block.value.column.article.featured_image width-1200 as photo %}
                       {% endif %}
                        <a href="{% pageurl block.value.column.article %}">
                            <img class="img-fluid mb-3" src="{{ photo.url }}">
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-lg-7 d-lg-none">
                        <div class="lead">{{ block.value.column.article.specific.summary|richtext }}</div>
                    </div>
                </div>
            {% elif block.block_type == "one_ad_column" %}
                <div class="featured border-md-bottom pb-1 mb-5 mb-md-0 d-lg-flex">
                    <div class="col-lg-12">
                        <strong class="text-primary text-uppercase text-kicker">ADVERTISEMENT</strong>
                        {% image block.value.image width-1200 height-400 as photo %}
                        <div class="align-items-center">
                            {% if block.value.link != "" %}
                            <a href="{{ block.value.link }}">
                            {% endif %}
                                <img class="img-fluid mb-3" src="{{photo.url}}">
                            {% if block.value.link != "" %}
                            </a>
                            {% endif %}                            
                        </div>
                    </div>
                </div>
            {% elif block.block_type == "two_columns" %}
                <div class="
                    {% if block.value.emphasize_column == 'left' %}
                        col-md-8
                    {% elif block.value.emphasize_column == 'right' %}
                        col-md-4
                    {% else %}
                        col-md-6
                    {% endif %}
                    featured border-md-right pr-md-4 mb-5 mb-md-0">
                    {% include_block block.value.left_column %}
                </div>
                <div class="
                    {% if block.value.emphasize_column == 'left' %}
                        col-md-4
                    {% elif block.value.emphasize_column == 'right' %}
                        col-md-8
                    {% else %}
                        col-md-6
                    {% endif %}
                    featured pl-md-4 mb-5 mb-md-0">
                    {% include_block block.value.right_column %}
                </div>
            {% elif block.block_type == "three_columns" %}
                <div class="col-md-4 featured border-md-right pr-md-4 mb-5 mb-md-0">
                    {% include_block block.value.left_column %}
                </div>
                <div class="col-md-4 featured border-md-right pl-md-4 pr-md-4 mb-5 mb-md-0">
                    {% include_block block.value.middle_column %}
                </div>
                <div class="col-md-4 featured pl-md-4 mb-5 mb-md-0">
                    {% include_block block.value.right_column %}
                </div>
            {% elif block.block_type == "recent_articles" %}
                {% for article in block.value.get_articles %}
                    <div class="col-md-4 featured mb-5 mb-md-0
                        {% cycle 'pr-md-4' 'pr-md-4 pl-md-4 border-md-left' 'pl-md-4 border-md-left' %}">
                        {% include "home/article.html" with article=article only %}
                    </div>
                    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                        <div class="col-12 mb-4 d-none d-md-block"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                unsupported block type
            {% endif %}
        </div>
    {% endfor %}

    {% if page.get_sections %}
        <div class="see-more">
            <img src="{% static 'images/logo_inverted.png' %}" class="logo">
            <hr>
            <div class="d-flex flex-row justify-content-between">
            {% for section in page.get_sections %}
                <a href="{% pageurl section %}" class="h5 text-primary">{{ section.title }}</a>
            {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block footer_logo_block %}{% endblock %}
