{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block title_block %}{{ request.site.site_name }}{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block header_block %}
    <header class="pb-3 pb-md-5 pt-3 bg-gradient-primary">
        <div class="container">
            <div class="flex-row no-gutters align-items-center">
                <div class="col text-right mb-3 mb-md-0">
                    <a class="text-light search" href="{% url 'search' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                    </a>
                    <a class="btn btn-sm btn-outline-light" href="#">Subscribe</a>
                </div>
                <div class="col-12 text-center">
                    <a class="header-logo" href="{% pageurl request.site.root_page %}">
                        <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="The Polytechnic">
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="container">
    {% for block in page.featured_articles %}
        <div class="row mb-md-4">
            {% if block.block_type == "one_column" %}
                <div class="featured border-md-bottom pb-1 mb-5 mb-md-0 d-lg-flex">
                    <div class="col-lg-7">
                        {% if block.value.column.article.specific.kicker %}
                            <strong class="text-primary text-uppercase text-kicker">{{ block.value.column.article.specific.kicker }}</strong>
                        {% endif %}
                        <h1 class="display-4 mb-3">
                            <a class="text-dark" href="{% pageurl block.value.column.article %}">
                                {{ block.value.column.article.specific.headline|richtext }}
                            </a>
                        </h1>
                        <div class="lead d-none d-lg-block">{{ block.value.column.article.specific.summary|richtext }}</div>
                    </div>
                    <div class="col-lg-5">
                        {% image block.value.column.article.featured_photo width-1200 as photo %}
                        <a href="{% pageurl block.value.column.article %}">
                            <img class="img-fluid mb-3" src="{{ photo.url }}">
                        </a>
                    </div>
                    <div class="col-lg-7 d-lg-none">
                        <div class="lead">{{ block.value.column.article.specific.summary|richtext }}</div>
                    </div>
                </div>
            {% elif block.block_type == "two_columns" %}
                <div class="
                    {% if block.value.emphasize_column == 'left' %}
                        col-md-8
                    {% elif block.value.emphasize_column == 'right' %}
                        col-md-4
                    {% else %}
                        col-md-6
                    {% endif %}
                    featured border-md-right pr-md-4 mb-5 mb-md-0">
                    {% include_block block.value.left_column %}
                </div>
                <div class="
                    {% if block.value.emphasize_column == 'left' %}
                        col-md-4
                    {% elif block.value.emphasize_column == 'right' %}
                        col-md-8
                    {% else %}
                        col-md-6
                    {% endif %}
                    featured pl-md-4 mb-5 mb-md-0">
                    {% include_block block.value.right_column %}
                </div>
            {% elif block.block_type == "three_columns" %}
                <div class="col-md-4 featured border-md-right pr-md-4 mb-5 mb-md-0">
                    {% include_block block.value.left_column %}
                </div>
                <div class="col-md-4 featured border-md-right pl-md-4 pr-md-4 mb-5 mb-md-0">
                    {% include_block block.value.middle_column %}
                </div>
                <div class="col-md-4 featured pl-md-4 mb-5 mb-md-0">
                    {% include_block block.value.right_column %}
                </div>
            {% elif block.block_type == "recent_articles" %}
                {% for article in block.value.get_articles %}
                    <div class="col-md-4 featured mb-5 mb-md-0
                        {% cycle 'pr-md-4' 'pr-md-4 pl-md-4 border-md-left' 'pl-md-4 border-md-left' %}">
                        {% include "home/article.html" with article=article only %}
                    </div>
                    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                        <div class="col-12 mb-4 d-none d-md-block"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                unsupported block type
            {% endif %}
        </div>
    {% endfor %}

</div>
{% endblock %}
