[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "~=2.2.1"
django-debug-toolbar = "*"
django-webpack-loader = "*"
Django = "~=2.0.8"
"beautifulsoup4" = "==4.6.0"
django-prometheus = "*"
gunicorn = "*"
"psycopg2" = "*"

[dev-packages]
"flake8" = "*"
black = "==18.6b4"
nplusone = "*"

[pipenv]
allow_prereleases = true
