[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==2.8"
Django = "<2.2.11"
django-debug-toolbar = "==2.1"
django-webpack-loader = "*"
"beautifulsoup4" = "==4.6.0"
django-prometheus = "*"
gunicorn = "*"
"psycopg2-binary" = "2.8.6"
requests = "*"
opencv-python = "*"
wagtail-autocomplete = "*"
django-widget-tweaks = "*"
dj-database-url = "*"
whitenoise = "*"
asgiref="*"
nplusone = "*"

[dev-packages]
"flake8" = "*"
black = "==19.3b0"
nplusone = "*"
pylint = "*"
pylint-django = "*"

[pipenv]
allow_prereleases = true
