[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "*"
"bs4" = "*"
django-debug-toolbar = "*"
django-webpack-loader = "*"

[dev-packages]

[requires]
python_version = "3.7"
