{% load static wagtailadmin_tags %}
<div class="search-bar">
    <form method="get" action="">
        <input type="text" name="search" placeholder="Search for articles..." value="{{ search_query }}">
        <input type="hidden" name="sort" value="{{ current_sort }}">
        <input type="hidden" name="order" value="{{ current_order }}">
        <button type="submit">Search</button>
    </form>
</div>

<table>
    <tr>
        <th>
            <a href="?sort=title&order={% if current_sort == 'title' and current_order == 'asc' %}desc{% else %}asc{% endif %}&search={{ search_query }}">
                Title
                {% if current_sort == 'title' %}
                    {% if current_order == 'asc' %}
                        ▲
                    {% else %}
                        ▼
                    {% endif %}
                {% endif %}
            </a>
        </th>
        <th>
            <a href="?sort=date&order={% if current_sort == 'date' and current_order == 'asc' %}desc{% else %}asc{% endif %}&search={{ search_query }}">
                Date
                {% if current_sort == 'date' %}
                    {% if current_order == 'asc' %}
                        ▲
                    {% else %}
                        ▼
                    {% endif %}
                {% endif %}
            </a>
        </th>
        <th>Authors</th>
        <th>Summary</th>
        <th>Actions</th>
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.date }}</td>
        <td>
            {% for author in article.get_authors %}
                {{ author.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No authors assigned.
            {% endfor %}
        </td>
        <td>{{ article.summary|truncatewords:20|striptags }}</td>
        <td>
            <a href="{% url 'postline:create_instagram_post' article.id %}">
                Create Post
            </a>
        </td>
    </tr>
    {% endfor %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/table_content.css' %}">
    </head>
    
</table>