{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <form class="my-5" id="search-form" action="{% url 'search' %}" method="get">
        <div class="input-group input-group-lg mb-3">
            <input type="text" placeholder="Search..." class="form-control" name="query" autofocus{% if search_query %} value="{{ search_query }}"{% endif %}>
            <div class="input-group-append">
                <input type="submit" value="Search" class="input-group-btn form-control form-control-lg btn btn-primary">
            </div>
        </div>
        <div>
            <!-- Filter by section -->
            <div class="mb-3">
                <label for="section" class="form-label">Section</label>
                <select class="form-select" id="section" name="section">
                    <option value="">All</option>
                    {% for section in sections %}
                        <option value="{{ section.id }}" {% if section.id == selected_section %}selected{% endif %}>{{ section }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Filter by relevance, newest, oldest -->
            <div class="mb-3">
                <label for="order" class="form-label">Sort by</label>
                <select class="form-select" id="order" name="order">
                    <option value="">Relevance</option>
                    <option value="newest" {% if order == "newest" %}selected{% endif %}>Newest</option>
                    <option value="oldest" {% if order == "oldest" %}selected{% endif %}>Oldest</option>
                </select>
            </div>
            <!-- Filter by date -->
            <div class="mb-3">
                <label for="date_range" class="form-label">Date Range</label>
                <select class="form-select" id="date_range" name="date_range" onchange="toggleCustomDatePicker()">
                    <option value="">Any</option>
                    <option value="7">Last week</option>
                    <option value="30">Last month</option>
                    <option value="365">Last year</option>
                    <option value="custom">Custom</option>                    
                </select>
            </div>
            <!-- Custom date picker -->
            <div id="custom_date_picker" class="mb-3" style="display: {% if date_range == 'custom' %}block{% else %}none{% endif %};">
                <div class="input-group">
                    <input type="date" class="form-control" name="start_date" value="{{ start_date }}">
                    <span class="input-group-text">to</span>
                    <input type="date" class="form-control" name="end_date" value="{{ end_date }}">
                </div>
            </div>
        </div>

        {% if search_query %}
            <p class="mt-3">Results for "{{ search_query }}"</p>
        {% endif %}
    </form>

    <script>
        function toggleCustomDatePicker() {
            var dateRange = document.getElementById('date_range').value;
            var customDatePicker = document.getElementById('custom_date_picker');
            if (dateRange === 'custom') {
                customDatePicker.style.display = 'block';
            } else {
                customDatePicker.style.display = 'none';
            }
        }
    
        // on page load, set value of filters from URL query parameters
        document.addEventListener('DOMContentLoaded', function() {
            toggleCustomDatePicker();

            let url = new URL(window.location.href);
            let section = url.searchParams.get('section');
            if (section) {
                document.getElementById('section').value = section;
            }

            let order = url.searchParams.get('order');
            if (order) {
                document.getElementById('order').value = order;
            }

            let dateRange = url.searchParams.get('date_range');
            if (dateRange) {
                document.getElementById('date_range').value = dateRange;
                if (dateRange === 'custom') {
                    document.getElementById('custom_date_picker').style.display = 'block';
                    let startDate = url.searchParams.get('start_date');
                    let endDate = url.searchParams.get('end_date');
                    if (!startDate) {
                        let today = new Date();
                        startDate = today.toISOString().split('T')[0];
                    }
                    if (!endDate) {
                        let today = new Date();
                        endDate = today.toISOString().split('T')[0];
                    }
                    document.getElementsByName('start_date')[0].value = startDate;
                    document.getElementsByName('end_date')[0].value = endDate;
                }
            }
        });

        // if date_range is not custom on submit and date_range is not empty, set start_date and end_date
        document.getElementById('search-form').addEventListener('submit', function() {
            let dateRange = document.getElementById('date_range').value;
            if (dateRange !== 'custom' && dateRange !== '') {
                let today = new Date();
                let startDate = new Date();
                let endDate = new Date();
                if (dateRange === '7') {
                    startDate.setDate(today.getDate() - 7);
                } else if (dateRange === '30') {
                    startDate.setMonth(today.getMonth() - 1);
                } else if (dateRange === '365') {
                    startDate.setFullYear(today.getFullYear() - 1);
                }
                document.getElementsByName('start_date')[0].value = startDate.toISOString().split('T')[0];
                document.getElementsByName('end_date')[0].value = endDate.toISOString().split('T')[0];
            }
        });
    </script>
    

    {% if search_results %}
        {% include "core/includes/articles_list.html" with articles=search_results show_authors=True show_dates=True only %}

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% for i in search_results.paginator.page_range %}
            {% if i == search_results.number %}
                <strong>{{ i }}</strong>
            {% else %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found.
    {% endif %}
</div>
{% endblock %}
