{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <form class="my-5" action="{% url 'search' %}" method="get">
        <div class="form-row justify-content-center">
            <div class="col-md-10">
                <input type="text" placeholder="Search..." class="form-control form-control-lg mr-sm-2 mb-2" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            </div>
            <div class="col-3 col-md-2">
                <input type="submit" value="Search" class="form-control form-control-lg btn btn-primary mb-2">
            </div>
        </div>
    </form>

    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% if result.search_description %}
                        {{ result.search_description }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}
</div>
{% endblock %}
