{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <form class="my-5" action="{% url 'search' %}" method="get">
        <div class="input-group input-group-lg">
            <input type="text" placeholder="Search..." class="form-control" name="query" autofocus{% if search_query %} value="{{ search_query }}"{% endif %}>
            <div class="input-group-append">
                <input type="submit" value="Search" class="input-group-btn form-control form-control-lg btn btn-primary">
            </div>
        </div>
    </form>

    {% if search_results %}
        {% include "core/includes/articles_list.html" with articles=search_results show_authors=True show_dates=True only %}

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found.
    {% endif %}
</div>
{% endblock %}
