html {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: white;
  background-color: #DA1E05;
  font-weight: 535;
  font-size: 755%;
  text-align: left;
  position:relative;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: 90;
  /*text-indent: 760px;*/
  margin-bottom: 0;
}
img {
  display: block;
  margin: 0 auto;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  font-family: serif;

}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  /*margin-top:  10px;*/
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;

}
nav a:visited, a:link {
  color: #DA1E05;
}
nav a:hover {
  color: #ba1a05;
  background-color: #dccfcf;
}
nav a.active {
  color: #DA1E05;
}
