<div *ngIf="story">
  <h2>{{story.title}} details!</h2>
  <div>
    <label>Title: </label>
    <input [(ngModel)]="story.title" placeholder="Title" />
  </div>

<!-- figure out how to save author -->


  <div>
    <label>Author: </label>
    <input [(ngModel)]="story.author" placeholder="Author" />
  </div>

<!-- ..................................... -->

  <div>
    <label>Event time: </label>{{story.date | date:"short" }}
  </div>
  <div>
    <label>Section: </label>
    <input [(ngModel)]="story.section" placeholder="Section" />
  </div>
  <div>
    <label>Created: </label>{{story.created | date:"short"}}
  </div>
  <div>
    <label>Location: </label>{{story.location}}
  </div>
  <div>
    <iframe [src]="'rt-editor/#' + story.id | safe" width="700" height="500"></iframe>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
