<div *ngIf="story" class = "editor-w-details">
  <div id = "editor">
    <iframe [src]="'rt-editor/#' + story.id | safe" width="700" height="500"></iframe>
  </div>
  <div class = "col-lg-6 col-xs-4 col-s-4 col-md-6 details" >
    <h3>DETAILS</h3>
    <div id = "title">
      <label>Headline: </label>
      <input class = "editable" [(ngModel)]="story.title" (change) = "save()" placeholder="Title" />
    </div>

  <!-- figure out how to save author and other new categories  -->
  <!-- suggestion: new categories for details - author, author job, kicker, photographer, issue date. -->

    <div id = "section">
      <label>Section: </label>
      <input class = "editable" [(ngModel)]="story.section"(change) = "save()" placeholder="Section" />
    </div>
    <div id = "author">
      <label>Author: </label>
      <!-- needs value: [(ngModel)]="story.author"-->
      <input class = "editable" [(ngModel)]="story.author" (change) = "save()" placeholder="Author" />
    </div>
    <div id = "author-job">
      <label>Author Job: </label>
      <!-- needs value: [(ngModel)]="story.authorjob"-->
      <input class = "editable" (change) = "save()" placeholder="Author Job" />
    </div>
    <div id = "kicker">
      <label>Kicker: </label>
      <!-- needs value: [(ngModel)]="story.kicker"-->
      <input class = "editable" (change) = "save()" placeholder="Kicker" />
    </div>
    <div id = "issue">
      <label>Issue Date: </label>{{story.date | date:"short" }}
      <input class = "editable" (change) = "save()" placeholder="Issue Date" />
    </div>
    <div id = "photographer">
      <label>Photographer: </label>{{story.date | date:"short" }}
      <input class = "editable" (change) = "save()" placeholder="Photographer" />
    </div>
    <div id = "event-time">
      <label>Event time: </label>{{story.date | date:"short" }}
      <input class = "editable" (change) = "save()" placeholder="Event Time" />
    </div>
    <div id = "location">
      <label>Location: </label>{{story.location}}
      <input class = "editable" (change) = "save()" placeholder="Location" />
    </div>
    <div id = "created">
      <label>Created: </label>{{story.created | date:"short"}}
    </div>
  </div>

    <!-- ..................................... -->

  <!-- <button (click)="goBack()">Back</button> -->
<!--   <button (click)="save()">Save</button>
 --></div>
