.editor-w-details {
  float: right;
  display: inline;
}

.details {
  border: solid;
  border-color: #cecece;
  margin-right: 20px;
  padding-left: 10px;
  margin-top: 10px;
  padding-right: 0px;
  padding-top: 10px;
}

label {
  display: inline-block;
  margin: .5em 0;
  color: #DA1E05;
  font-weight: bold;
  margin-right: 5px;
}
input.editable{
  border: none;
  width: 525px;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #dccfcf;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
button.delete{
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 0px;
  background-color: #DA1E05;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: white;
  cursor: pointer; cursor: hand;
  padding: 10px;

}
h3, #title, #author, #event-time, #section, #created, #location, #author-job, #kicker, #issue, #photographer {
  font-family: 'Raleway', sans-serif;
  margin-right: 20px;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #DA1E05;
}
#editor {
  margin-top: 20px;
  margin-right: 20px;
}
