h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
}
li.story {
  height: 90px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  left: 0;
  margin-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-style: solid;
  border-color: #cecece;
  border-width: 2px;
  text-align: left;
  padding-bottom: 10px;
}

li.story.selected {
  background-color: #f48989;
}

.story-photo {
  float: left;
  padding-right: 20px;
  padding-left: 10px;
}
.info {
  font-family: 'Raleway', sans-serif;
  color: #838384;
  padding-left: 20px;
  text-overflow: ellipsis;
}
.title {
  font-weight: bold;
}
.author {
  font-weight: light;
}
.section {
  font-weight: light;
}

input {
  background: url("../search-icon-f-01.png") no-repeat scroll;
  padding-left:50px;
  margin-left: 10px;
  border-style: solid;
  border-color: #cecece;
}
/*.selected {
  background-color: #dccfcf !important;
  color: white;
}*/
.stories {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 410px;
}

.add-button {
  padding: 10px;
  background-color: #eee;
  font-family: 'Raleway', sans-serif;
}

button {
  font-family: Arial;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  background-color: transparent;
  border: none;
}

button.delete {
  float:right;
  background-color: gray !important;
  color:white;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px;

}
button.details {
  float:right;
  background-color: gray !important;
  color:white;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px;

}

label {
  font-family: 'Raleway', sans-serif;
  margin-left: 20px;
  font-size: 1.5em;
}
