<div class = "container">
  <div class = "col-lg-6">
      <h2>Current Stories</h2>
      <div>
        <input type="text" name = "search" placeholder="Search for or a current story, or add a story" style="width: 490px; height: 60px; font-size: 1em; font-family: 'Raleway', sans-serif;" 
        #storyTitle />


         <!-- change this to add only when there are no search results, add button should only come up when there are no search results!! -->


        <input type = "submit" value = "Add" (click)="add(storyTitle.value); storyTitle.value=''" class = "add-button">
      </div>
      <ul class="stories">
        <li class = "story" *ngFor="let story of stories" [class.selected]="story === selectedStory" (click)="onSelect(story)">

          <!-- AUTOMATIC WAY TO IMPORT STORY'S PHOTO? -->

          <img class = "story-photo" src = "../pic.jpg" style= "width: 17%;">
          <div class = "info">    
            <div class = "title"> {{story.title}} </div>
            <div class = "section"> {{story.section}} </div>
            <div class = "author"> Ana Wishnoff </div>
            <button class="delete" (click)="delete(hero); $event.stopPropagation()">
            delete story
            </button>

            <!-- Change an item's "active" state so that it doesn't have to be active for the user to see the details -->

             <button (click)="gotoDetail()" class = "details">
            see details
            </button> 
          </div>
          

        </li>
      </ul>
  </div>
</div>