{% load core_menu wagtailcore_tags %}
<div class="nav-scroller py-1 mb-4 box-shadow bg-white">
    <div class="container">
        <nav class="nav d-flex flex-nowrap justify-content-between">
            {% for menuitem in menuitems %}
                <a class="text-muted flex-grow-0 nav-link{% if menuitem.active %} active{% endif %}" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                {% if divider_index == forloop.counter0 %}
                    <div class="divider flex-grow-0"></div>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>
