{% load core_menu wagtailcore_tags static %}
<div class="nav-scroller py-1 mb-4 box-shadow bg-dark"{% if is_home %} data-controller="navigation" data-action="scroll@window->navigation#onScroll" data-target="navigation.scroller"{% endif %}>
    <div class="container">
        <nav class="nav d-flex flex-nowrap justify-content-between">
            {% if is_home %}
                <a class="home-link nav-link flex-grow-0" href="{% pageurl request.site.root_page %}">
                    <img src="{% static 'images/lettermark.png' %}" alt="The Polytechnic">
                </a>
            {% else %}
                <span></span>
            {% endif %}
            {% for menuitem in menuitems %}
                <a class="text-muted flex-grow-0 nav-link nav-link-{{ forloop.counter0 }}{% if menuitem.active %} active{% endif %}" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                {% if divider_index == forloop.counter0 %}
                    <div class="divider flex-grow-0"></div>
                {% endif %}
            {% endfor %}
            <span></span>
        </nav>
    </div>
</div>
