{% extends "base.html" %}
{% load cache %}
{% cache 60 page request.is_preview %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-articlesindexpage{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1>
    <hr class="pb-3">

    {% include "core/includes/articles_list.html" with articles=articles %}

    <ul class="pagination d-flex justify-content-center">
        {% if articles.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if articles.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% endcache %}
