{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-mappage{% endblock %}

{% block content %}

<div class="container">
    <h1>{{ page.title }}</h1>
    <hr class="pb-3">

    <html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <h3>Map</h3>
    <div id="map"></div>
    <script>

<script>

    function initMap() {

      var Troy = {lat: 42.728, lng: -73.691};

      var map = new google.maps.Map(

          document.getElementById('map'), {zoom: 15, center: Troy});

      var marker = new google.maps.Marker({
            position: Troy,
            title:"The city of Troy"
        });

       marker.setMap(map);
    }

 </script>

<script async defer

    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2QD1ngZzv0QjZhylFw0T4_22hzOMjx34&callback=initMap">

</script>
</body>
</html>

</div>
{% endblock %}
