{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-mappage{% endblock %}

{% block content %}

<div class="container">
    <h1>{{ page.title }}</h1>
    <hr class="pb-3">

    <html>
  <head>
    <style>

      #map {
        height: 400px;
        width: 100%;
       }

    </style>
  </head>
  <body>
    <h3>Map</h3>
    <div id="map"></div>
    <script>

<script>


      window.names = [
      {% for Location in page.places %}
          `{{Location.value.name}}`,
      {% endfor %}
      ]
      window.addresses = [
      {% for Location in page.places %}
          `{{Location.value.address}}`,
      {% endfor %}
      ]
      window.descriptions = [
      {% for Location in page.places %}
          `{{Location.value.description}}`,
      {% endfor %}
      ]


      window.parsedaddresses = []
      for(i = 0; i< window.addresses.length;i++){
        var addressString = window.addresses[i];
        var index = addressString.search("p");
        var index2 = addressString.search("/p");
        var addressString = addressString.slice(index + 2,index2-1);
        window.parsedaddresses.push(addressString);
      }

    function initMap() {


      var customMapType = new google.maps.StyledMapType([{
            elementType: 'labels',
            stylers: [{visibility: 'off'}]
          },{
            featureType: "road",
            stylers: [{visibility: 'on'}]
          }
        ], {
          name: 'Custom Style'
      });

      var customMapTypeId = 'custom_style';

      var Troy = {lat: 42.728, lng: -73.691};

      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 15, center: Troy});

      var marker = new google.maps.Marker({
            position: Troy,
            title:"The city of Troy"
        });

       marker.setMap(map);
       map.mapTypes.set(customMapTypeId, customMapType);
       map.setMapTypeId(customMapTypeId);
    }

 </script>

<script async defer

    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2QD1ngZzv0QjZhylFw0T4_22hzOMjx34&callback=initMap">

</script>
</body>
</html>

</div>
{% endblock %}
