{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-mappage{% endblock %}

{% block content %}
<div class="container">
    <!-- {% for Location in page.places %}
        <strong id ="places" class="text-primary text-uppercase text-kicker">{{ Location.value.name }}</strong>
    {% endfor %} -->
    <hr class="pb-3">

    <html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 525px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

    </style>
  </head>
  <body>



    <h3>Map Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <script>

      function similarity(s1, s2) {
        var longer = s1;
        var shorter = s2;
        if (s1.length < s2.length) {
          longer = s2;
          shorter = s1;
        }
        var longerLength = longer.length;
        if (longerLength == 0) {
          return 1.0;
        }
        return (longerLength - editDistance(longer, shorter)) / parseFloat(longerLength);
      }

      function editDistance(s1, s2) {
          s1 = s1.toLowerCase();
          s2 = s2.toLowerCase();

          var costs = new Array();
          for (var i = 0; i <= s1.length; i++) {
            var lastValue = i;
            for (var j = 0; j <= s2.length; j++) {
              if (i == 0)
                costs[j] = j;
              else {
                if (j > 0) {
                  var newValue = costs[j - 1];
                  if (s1.charAt(i - 1) != s2.charAt(j - 1))
                    newValue = Math.min(Math.min(newValue, lastValue),
                      costs[j]) + 1;
                  costs[j - 1] = lastValue;
                  lastValue = newValue;
                }
              }
            }
            if (i > 0)
              costs[s2.length] = lastValue;
          }
          return costs[s2.length];
        }

      // Get values for map locations
      window.names = [
      {% for Location in page.places %}
          `{{Location.value.name}}`,
      {% endfor %}
      ]
      window.addresses = [
      {% for Location in page.places %}
          `{{Location.value.address}}`,
      {% endfor %}
      ]
      window.descriptions = [
      {% for Location in page.places %}
          `{{Location.value.description}}`,
      {% endfor %}
      ]

      // Parse addresses
      window.parsedaddresses = []
      for(i = 0; i< window.addresses.length;i++){
        var addressString = window.addresses[i];
        var index = addressString.search("p");
        var index2 = addressString.search("/p");
        var addressString = addressString.slice(index + 2,index2-1);
        window.parsedaddresses.push(addressString);
      }

      // Initialize and add the map
      function initMap() {
        var customMapType = new google.maps.StyledMapType([
            {
              elementType: 'labels',
              stylers: [{visibility: 'off'}]
            },{
              featureType: "road",
              stylers: [{visibility: 'on'}]
            }
          ], {
            name: 'Custom Style'
        });


      var customMapTypeId = 'custom_style';
      // The location of Troy
      var Troy = {lat: 42.728, lng: -73.691};
      // The map, centered at Troy
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 16, center: Troy});

      // Get Lat and Long from addresses
      var geocoder = new google.maps.Geocoder();

      // create markers per address
      for(i=0;i<window.parsedaddresses.length;i++){
        console.log(window.parsedaddresses[i]);
        console.log(i);
        geocoder.geocode( { 'address': window.parsedaddresses[i]}, function(results, status) {

        if (status == google.maps.GeocoderStatus.OK) {



            var latitude = results[0].geometry.location.lat();
            var longitude = results[0].geometry.location.lng();
            console.log(results[0].formatted_address);

            var marker = new google.maps.Marker({
              position: {lat:latitude, lng:longitude},
              title:"A marker"
            });



            var max_value = 0;
            var max_index = 0;
            for(j = 0 ;j<window.parsedaddresses.length;j++){

              if(similarity(window.parsedaddresses[j],results[0].formatted_address)> max_value){
                max_value = similarity(window.parsedaddresses[j],results[0].formatted_address);
                max_index = j;
              }
            }

            var contentString = window.descriptions[max_index];


            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });

            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });

            marker.setMap(map);
            console.log(contentString);


            }
        });










      // To add the marker to the map, call setMap();


    }
    map.mapTypes.set(customMapTypeId, customMapType);
    map.setMapTypeId(customMapTypeId);
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2QD1ngZzv0QjZhylFw0T4_22hzOMjx34&callback=initMap">
    </script>
  </body>
</html>


</div>
{% endblock %}
