{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-staffpage{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8"><br>
            <h1>{{ page.title }}</h1>
            <h4>{% for position in person.get_active_positions %}
                {% if forloop.last and person.get_active_positions|length > 1 %} and {% endif %}
                <span class="text-nowrap">{{ position.title }}{% if not forloop.last and person.get_active_positions|length > 2 %}, {% endif %}</span>
                {% endfor %}</h4>
            <hr>
            {% if page.biograph %}
                {% include_block page.biography %}
            {% endif %}
            
        </div>
        <div class="col-md-4 col-md-offset-4"><br>
            <h3>Contact Information</h3>
            {% if page.email_address %}
            <p>{{page.title}} can be reached at <a href="mailto:{{ page.email_address }}">{{ page.email_address }}</a></p>
            {% else %}
            <p>Contact The Polytechnic at <a href="mailto:poly@rpi.edu">poly@rpi.edu</a>.</p>
            {% endif %}
       
        </div>
        <div class="col-xs-12 col-md-8">
            {% include "core/includes/articles_list.html" with articles=page.get_articles %}
        </div>
        <div class="clearfix visible-xs-block"></div>
    </div>
</div>
{% endblock %}

