{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-staffpage{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex">
        <div class="flex-grow-1">
            <h1>{{ page.title }}</h1>
            <h4>
                {{ page.get_positions_html }}
            </h4>
        </div>
        {% if page.photo %}
            <div class="photo">
                {% image page.photo fill-200x200 as photo %}
                <img class="rounded-circle" src="{{ photo.url }}">
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 order-md-2">
            {% if page.biography %}
                {{ page.biography|richtext }}
            {% endif %}

            {% if page.email_address and page.is_active %}
                <p><a href="mailto:{{ page.email_address }}">{{ page.email_address }}</a></p>
            {% endif %}
            
            {% if page.get_previous_terms %}
                <h5>Previous positions</h5>
                <ul>
                    {% for term in page.get_previous_terms %}
                        <li>
                            {% if term.acting %}Acting
                            {% elif term.de_facto %}<i>De facto</i>{% endif %}
                            {{ term.position.title }}
                            <small>{{ term.date_started|date:"F Y" }} to {{ term.date_ended|date:"F Y" }}</small>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="col-xs-12 col-md-8">
            {% include "core/includes/articles_list.html" with articles=page.get_articles show_dates=True only %}
        </div>
    </div>
</div>
{% endblock %}

