{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-uniontimeline{% endblock %}

{% block content %}
<style> 
  ul.timeline {
    list-style-type: none;
    position: relative;
  }
  ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #DA1E05;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }
  ul.timeline > li:after {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 100%;
    height: 2px;
    z-index: 400;
  }
.thumbnail:hover {
    position:sticky;
    top: 25%;
    left: 0%;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-2">
      <h1>Union Events Timeline</h1>
      <ul class="timeline">
        {% for block in page.events %}
        <li>
          <div>
            <div class="row">
              <div class="col">
                {{ block.value.date }}
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-8">
                {% if block.value.body %}
                  {% for item in block.value.body %}
                    {% if item.definition %}
                      <div class="tooltip">{{item.phrase}}
                        <span class="tooltiptext">{{item.definition}}</span>
                      </div>
                    {% else %}
                      {{item.phrase}}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
              <div class="col-6 col-md-4 align-self-center" style="height: auto; padding-bottom: 25px">
                {% if block.value.featured_image %}
                    <div class="photo">      
                    {% image block.value.featured_image width-400 as photo %}
                    {% image block.value.featured_image width-500 as big_photo %}
                      <img class="thumbnail" src="{{ photo.url }}">
              
                  </div>
        
                {% endif %}
              </div>

          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

