.page-title {
    text-align: center;
}
.form-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #212121;
}
.errorlist {
    color: red;
    list-style-type: none;
    padding: 0;
}
.form-text {
    font-size: 1em;
    color: #6c757d;
}
.w-form {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.w-field-group {
    margin-bottom: 2px;
}
    /* Style the checkbox labels */
.w-field-group label {
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

/* Style the checkboxes */
.w-field-group input[type="checkbox"] {
    margin-right: 10px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 20px;
    border-radius: 14px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.generate-button {
    background-color: #DA1E05 !important;
    color: #fff;
    border: none;
}

.generate-button:hover {
    background-color: #740010 !important;
    transform: scale(1.05);
}

.button-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}