.page-title {
    text-align: center;
}

.form-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #212121;
}

.errorlist {
    color: red;
    list-style-type: none;
    padding: 0;
}

.form-text {
    font-size: 1em;
    color: #6c757d;
}

.w-form {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.w-field-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.w-field-group label {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #f5f5f5;
    gap: 10px;
}

.w-field-group input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 20px;
    border-radius: 14px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.generate-button {
    background-color: #DA1E05 !important;
    color: #fff;
    border: none;
}

.generate-button:hover {
    background-color: #740010 !important;
    transform: scale(1.05);
}

.button-secondary:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.paragraph-box-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.paragraph-box {
    padding: 15px;
    border-radius: 8px;
    background-color: #282828;
    display: flex;
    align-items: flex-start;
}

.paragraph-box .checkbox-label {
    margin-left: 10px;
    font-size: 1rem;
    color: #f5f5f5;
}

.paragraph-box input[type="checkbox"] {
    margin-top: 5px;
}

.paragraph-box:hover {
    background-color: #3a3a3a;
    transition: background-color 0.3s ease;
}

.no-paragraphs-message {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    color: #f5f5f5;
}

.text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
