table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #ffffff;
}

th {
    background-color: #DA1E05;
    color: #ffffff;
    text-align: left;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #333333;
}

tr:hover {
    background-color: #575757;
}

td {
    padding: 12px;
    border-bottom: 1px solid #444444;
}

a {
    color: #DA1E05; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #740010;
    text-decoration: underline;
}

th a {
    text-decoration: none;
    color: #ffffff;
}

th a .arrow {
    margin-left: 5px;
    font-size: 0.8em;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px 12px;
    margin-left: 10px;
    background-color: #DA1E05;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #740010;
}