{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_head %}
    {% for tag, val in page.get_meta_tags.items %}
        <meta property="{{tag}}" content="{{val}}">
    {% endfor %}
{% endblock %}

{% block body_class %}template-articlepage{% endblock %}

{% block content %}
<article class="narrow">
    <div class="container">
        
        {% if page.kicker %}
            <strong class="text-primary text-uppercase text-kicker">{{ page.kicker }}</strong>
        {% endif %}
        <h1 class="article-headline mb-3">{{ page.headline|richtext }}</h1>
        {% if page.subdeck %}
            <h4 class="article-subdeck mb-4">{{ page.subdeck|richtext }}</h4>
        {% endif %}
    </div>
    <div class="row">
       
            <div class="col-md-4 col-md-offset-4"><br>
                <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            

    </div>
    {% if page.featured_photo %}
        <div class="featured-photo mt-4 mb-4 text-center">
            {% image page.featured_photo.image width-1200 as photo %}
            <img class="" src="{{ photo.url }}">
        </div>
    {% endif %}
    <div class="container mb-4">
        {% if authors %}
        <span class="authors mr-1">
            By {% for author in authors %}
                <a class="author-name" href="{% pageurl author %}">{{ author }}</a>
            {% endfor %}
        </span>
        {% endif %}
        <a class="text-muted small published-date" href="{% pageurl page %}">
            {{ page.get_published_date|date:"F j, Y" }}
        </a>
    </div>

    <div class="container body">
        {% for block in page.body %}
            {% if block.block_type == 'image' %}
                {% image block.value width-1200 as photo %}
                <img src="{{ photo.url }}">
            {% else %}
                {% include_block block %}
            {% endif %}
        {% endfor %}
    </div>
</article>

<div class="container">
    <hr>
    <div class="more">
        <p>See more by
        {% for author in authors %}
            <a class="author-name" href="{% pageurl author %}">{{ author }}</a>
        {% endfor %}</p>
        {% if page.kicker %}
            <p>See more articles about {{ page.kicker }}</p>
        {% endif %}
        <p>See similar articles</p>
        {% for article in page.get_related_articles %}
            <div class="ml-3" style="margin-left: 40px">
                <p><a href="{% pageurl article %}">{{ article.headline|richtext }}</a></p>
            </div>
        {% endfor %}
        <p>See recent articles</p>
    </div>
</div>
{% endblock %}
