{% load wagtailcore_tags wagtailimages_tags %}

<div class="row">
    {% for article in articles %}
    <div class="col-lg-6 row article mb-4">
        {% image article.featured_photo.image fill-400x400 as photo %}
        {% if article.featured_photo %}
            <div class="col-4">
                <a href="{% pageurl article %}">
                    <img class="mt-2 img-fluid" src="{{ photo.url }}">
                </a>
            </div>
            <div class="col-8">
        {% else %}
            <div class="col-12">
        {% endif %}
        <h3>
            <a href="{% pageurl article %}">{{ article.headline|richtext }}</a>
        </h3>
        {% if article.summary %}
            {{ article.summary|richtext }}
        {% endif %}
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p>No articles.</p>
    </div>
    {% endfor %}
</div>
