body{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:black;
  
  }
  
  .bg{
    background-color: white;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    z-index: -1;
  }
  .main-header{
    font-size: 50px;
    font-weight: 10px;
    z-index: 200;
  }
  
  .project-title{
    margin-top: 75px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: center;
    line-height: 150px;
    width: auto;
    text-align: center;
    z-index: 2;
    border-radius: 20px;
  }
  
  .project-title{
    margin-top: 75px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 150px;
    vertical-align: center;
    line-height: 150px;
    width: auto;
    text-align: center;
    border-radius: 20px;
    z-index: 2;
  }
  div{
    background-color: transparent;
  }
  
  .title-logo{
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
  }
  .api{
    margin: 0 auto;
    width: 400px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
  }
  
  .post{
    background-color: #3498db;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .get{
    background-color: #2ecc71;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  
  
  }
  
  
  .sub-text{
    width:auto;
    height: auto;
    float: center;
    text-align: center;
    margin-top: auto;
    padding-bottom: 50px;
    top: 100px;
    position: relative;
    color: black;
  }
  
  a{
    text-decoration: none;
  }
  
  .side-container{
     margin:auto;
     z-index: 2;
     float:center;
     width:50%;
     height:auto;
  }
  
  .footer{
    float: center;
    width: 100%;
    height: 30px;
    margin-top: 40px;
  }
  
  .header{
    z-index: 1;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding-top: 0px;
    top: 0;
    left: 0;
    position: absolute;;
    float: left;
    background-color: transparent;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }