{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags rich_text cache %}

<div class="card">
    <div class="card-image">
        {% image candidate.image fill-300x300 as photo %}
            <img class="" src="{{ photo.url }}">
    </div>
    <div class="card-content">
        <a class="card-title" href="{% pageurl candidate %}">
            {% if candidate %}
                {{candidate.title}}
            {% endif %}
        </a>
        <div class="offices">
            {% for nc in candidate.get_nom_counts %}
                <p class="office">{{nc.office}}</p>
                <div class="card-progress">
                    <p>{{nc.count}}/{{nc.office.req_nominations}}</p>
                    <div style="width: {{nc.count}}/{{nc.office.req_nominations}}%" class="inner-progress"></div>
                </div>
            {% endfor %}
        </div>
    </div>    
</div>